body{
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    background-color: rgb(226, 230, 10);
}

/* Encabezado */
header{
    background-color: #8906bd;
    color: white;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1{
    margin: 0px;
    padding-left: 30px;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding-right: 40px;
}
nav ul li{
    display: inline;
    margin-right: 15px;

}
.anclas{
    color: rgb(7, 130, 238);
}
section{
   padding: 20px;
   margin: 10px;
   background-color: aliceblue;
   border-radius: 10px;
   box-shadow: 0 2px 5px rgb(233, 6, 203);
}

h2{
    color: #e00808;
}
footer{
    background-color: #0cdde4;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
   border-radius: 15px;
    
}